## Importing Libraries:

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows',None)
import sqlalchemy

## Importing Dataset From Database:

In [2]:
 engine = sqlalchemy.create_engine('postgresql://postgres:4545@localhost/python_analysis')

In [3]:
query = "SELECT * FROM account_statement.all_trans;"

In [4]:
df = pd.read_sql_query(query, engine,parse_dates=['tran_date'])

In [5]:
engine.dispose()

In [6]:
df.head()

,tran_date,chq_no,particulars,debit,credit,balance,init_br
0,NaT,None,OPENING BALANCE,NaN,NaN,952.2,NaN
1,2020-05-21,None,UPI/P2A/014272560373/SATYAJIT /Paytm\nPay/Payment,50.0,NaN,902.2,863.0
2,2020-05-27,None,UPI/P2A/014852712742/JYOTIRANI/Syndicate/\nPay...,900.0,NaN,2.2,863.0
3,2020-05-30,None,BRN-SALARY PAYMENT-SALARY,NaN,17628.0,17630.2,101.0
4,2020-05-30,None,UPI/P2A/015148029002/919853910/Paytm\nPay/Payment,11500.0,NaN,6130.2,863.0

In [7]:
df.shape

(2318, 7)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2318 entries, 0 to 2317
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   tran_date    2313 non-null   datetime64[ns]
 1   chq_no       0 non-null      object
 2   particulars  2318 non-null   object
 3   debit        1927 non-null   float64
 4   credit       388 non-null    float64
 5   balance      2317 non-null   float64
 6   init_br      2313 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 126.9+ KB

## Remove Unwanted Columns:

In [9]:
df.drop(columns=['chq_no','init_br'],inplace = True)

In [10]:
df.isnull().sum()

tran_date         5
particulars       0
debit           391
credit         1930
balance           1
dtype: int64

In [11]:
df = df.query("particulars != 'TRANSACTION TOTAL' and particulars != 'CLOSING BALANCE'")

In [12]:
df['tran_date'].fillna(method='backfill',inplace = True)

In [13]:
df['particulars'].nunique()

2264

## Extract Useful Transaction Type:

In [14]:
df['particulars']=df['particulars'].str.split('/').str.get(0)

In [15]:
df['particulars'].value_counts()

UPI                                                 2055
ATM-CASH                                              45
NEFT                                                  40
IMPS                                                  32
GST @18% on Charge                                    13
Consolidated Charges for A                            13
ECOM\nPUR                                             13
ECOM PUR                                              12
BY CASH DEPOSIT-BNA                                   10
NACH-DR- GROWW                                         9
MOB                                                    8
ATM-CASH-AXIS                                          7
Rupay Issuing Refund                                   5
BRN-SALARY PAYMENT-SALARY                              4
INB                                                    4
NACH-DR- Groww                                         3
OPENING BALANCE                                        3
Dr Card Charges ANNUAL\n6522XXXXXXXX7024               3
Ac xfr from Sol 863 to 450                             2
AXMOB                                                  2
POS                                                    2
CASH-REVERSAL-ATM                                      2
CreditCard Payment XXXX 8525\nRef#B07Z7J4W2331C4       1
Excess charge reversed-Jun22                           1
CreditCard Payment XXXX 6118\nRef#JDI8W0ZFZ2UVDN       1
CreditCard Payment XXXX 8525\nRef#DYHBU0Y0JO070I       1
CreditCard Payment XXXX 8525\nRef#2D6RHLYO8ZYGXO       1
CreditCard Payment XXXX 6118\nRef#MO6LKPDG4RNXW4       1
CreditCard Payment XXXX 8525\nRef#IB11JS6WPE1VNM       1
CreditCard Payment XXXX 6118\nRef#B3RENO171FQNXM       1
ATM-TRFR-FROM                                          1
918010045550860:Int.Pd:01-10-2022 to 31-12-2022        1
CreditCard Payment XXXX 6118\nRef#7DIDT63XV6IO42       1
918010045550860:Int.Pd:01-07-2022 to 30-09-2022        1
GST REV @18% on Excess charge                          1
918010045550860:Int.Pd:01-04-2021 to 30-06-2021        1
918010045550860:Int.Pd:01-04-2022 to 30-06-2022        1
CreditCard Payment XXXX 8525\nRef#88A1ZPA6X70TGH       1
CreditCard Payment XXXX 8525\nRef#EE8CMBT0ZUH9BY       1
CreditCard Payment XXXX 8525\nRef#W869BNYJSSL38G       1
918010045550860:Int.Pd:01-01-2022 to 31-03-2022        1
918010045550860:Int.Pd:01-10-2021 to 31-12-2021        1
918010045550860:Int.Pd:01-07-2021 to 30-09-2021        1
UPIP2PPAY                                              1
918010045550860:Int.Pd:01-01-2021 to 31-03-2021        1
918010045550860:Int.Pd:01-10-2020 to 31-12-2020        1
918010045550860:Int.Pd:01-07-2020 to 30-09-2020        1
UPI customer chrges reversal                           1
BRN-SALARY PAYMENT-ATC TIRES PVT. L                    1
918010045550860:Int.Pd:01-04-2020 to 30-06-2020        1
918010045550860:Int.Pd:01-01-2023 to 31-03-2023        1
Name: particulars, dtype: int64

In [16]:
df.replace(to_replace =['CreditCard Payment XXXX 6118\nRef#JDI8W0ZFZ2UVDN',
                       'CreditCard Payment XXXX 6118\nRef#JDI8W0ZFZ2UVDN',
                       'CreditCard Payment XXXX 8525\nRef#DYHBU0Y0JO070I',
                       'CreditCard Payment XXXX 8525\nRef#2D6RHLYO8ZYGXO',
                       'CreditCard Payment XXXX 6118\nRef#MO6LKPDG4RNXW4',
                       'CreditCard Payment XXXX 8525\nRef#IB11JS6WPE1VNM',
                       'CreditCard Payment XXXX 6118\nRef#B3RENO171FQNXM',
                        'CreditCard Payment XXXX 8525\nRef#88A1ZPA6X70TGH',
                        'CreditCard Payment XXXX 8525\nRef#B07Z7J4W2331C4',
                        'CreditCard Payment XXXX 6118\nRef#7DIDT63XV6IO42',
                        'CreditCard Payment XXXX 8525\nRef#EE8CMBT0ZUH9BY',
                        'CreditCard Payment XXXX 8525\nRef#W869BNYJSSL38G'],
          value = 'Credit Card Payment',inplace= True)

In [17]:
df.replace(to_replace=['ECOM\nPUR','ECOM PUR'],value= 'Ecommerce',inplace= True)

In [18]:
df.replace(to_replace=['BRN-SALARY PAYMENT-ATC TIRES PVT. L',
                      'BRN-SALARY PAYMENT-SALARY'],value = 'NEFT',inplace= True)

In [19]:
df.replace(to_replace=['Consolidated Charges for A'],value = 'Consolidated Charges',inplace= True)

In [20]:
df.replace(to_replace=['NACH-DR- Groww'],value= 'NACH-DR- GROWW',inplace= True)

In [21]:
df.replace(to_replace=['MOB'],value='TPFT',inplace= True)

In [22]:
df.replace(to_replace=['Dr Card Charges ANNUAL\n6522XXXXXXXX7024'],
           value='Annual Card Charges',inplace = True)

In [23]:
df.replace(to_replace=['918010045550860:Int.Pd:01-10-2020 to 31-12-2020',
                        '918010045550860:Int.Pd:01-04-2020 to 30-06-2020',
                        '918010045550860:Int.Pd:01-10-2022 to 31-12-2022',
                        '918010045550860:Int.Pd:01-07-2022 to 30-09-2022',
                        '918010045550860:Int.Pd:01-04-2022 to 30-06-2022',
                        '918010045550860:Int.Pd:01-01-2022 to 31-03-2022',
                        '918010045550860:Int.Pd:01-07-2020 to 30-09-2020',
                        '918010045550860:Int.Pd:01-10-2021 to 31-12-2021',
                        '918010045550860:Int.Pd:01-07-2021 to 30-09-2021',
                        '918010045550860:Int.Pd:01-04-2021 to 30-06-2021',
                        '918010045550860:Int.Pd:01-01-2021 to 31-03-2021',
                        '918010045550860:Int.Pd:01-01-2023 to 31-03-2023',
                       'Excess charge reversed-Jun22',
                        'Ac xfr from Sol 863 to 450',
                       'Rupay Issuing Refund',
                       'CASH-REVERSAL-ATM',
                        'AXMOB'
                        ],value='Other',inplace=True)

In [24]:
df.replace(to_replace= ['UPIP2PPAY',
                        'UPI customer chrges reversal'],
                       value= 'UPI',inplace=True)

In [25]:
df.replace(to_replace=['ATM-CASH','ATM-TRFR-FROM'],value='Other-ATM',inplace=True)

In [26]:
df.replace(to_replace=['ATM-CASH-AXIS','BY CASH DEPOSIT-BNA'],value='Axis-ATM',inplace=True)

In [27]:
df.replace(to_replace=['GST REV @18% on Excess charge']
           ,value='GST @18% on Charge',inplace=True)

In [28]:
df.fillna(0,inplace=True)

In [32]:
df.describe()

              debit        credit       balance
count   2316.000000   2316.000000   2316.000000
mean     535.332940    536.365678   5010.382314
std     2662.902345   2817.670458   6562.519592
min        0.000000      0.000000      0.000000
25%       12.000000      0.000000   1008.685000
50%       40.000000      0.000000   3208.660000
75%      160.000000      0.000000   6492.755000
max    90000.000000  50000.000000  90189.750000

In [29]:
df.to_csv('clean_data.csv',index=False)